#reading {
    color: white;
    margin: 20px;
}

#baking {
    color: white;
    text-align: right;
    margin: 20px;
}

.divider {
    color: gray;
    margin-left: 20px;
}

#gaming {
    color: white;
    margin: 20px;
}