#project {
    color: white;
    font-size: x-large;
    text-align: center;

}

#p-one {
    color: white;
    font-size: medium;
    text-align: center;
    border: solid 10px gray;
    background-color: rgb(164, 164, 163);
    margin: 20px;
}

#p-two {
    color: white;
    font-size: medium;
    text-align: center;
    border: solid 10px gray;
    background-color: rgb(164, 164, 163);
    margin: 20px;

}

#p-three {
    color: white;
    font-size: medium;
    text-align: center;
    border: solid 10px gray;
    background-color: rgb(164, 164, 163);
    margin: 20px;
}